// Auto genetated file
[
{
"name" : "sign_check - gcc_sparc_64" ,
"files" : "all" ,
"machdep" : "gcc_sparc_64" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "sign_check" 
}
,
{
"name" : "sign_check - gcc_sparc_32" ,
"files" : "all" ,
"machdep" : "gcc_sparc_32" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "sign_check" 
}
,
{
"name" : "sign_check - gcc_x86_32" ,
"files" : "all" ,
"machdep" : "gcc_x86_32" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "sign_check" 
}
,
{
"name" : "sign_check - gcc_x86_16" ,
"files" : "all" ,
"machdep" : "gcc_x86_16" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "sign_check" 
}
,
{
"name" : "sign_check - gcc_x86_64" ,
"files" : "all" ,
"machdep" : "gcc_x86_64" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "sign_check" 
}
,
{
"name" : "sha512 - gcc_sparc_64" ,
"files" : "all" ,
"machdep" : "gcc_sparc_64" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "sha512" 
}
,
{
"name" : "sha512 - gcc_sparc_32" ,
"files" : "all" ,
"machdep" : "gcc_sparc_32" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "sha512" 
}
,
{
"name" : "sha512 - gcc_x86_32" ,
"files" : "all" ,
"machdep" : "gcc_x86_32" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "sha512" 
}
,
{
"name" : "sha512 - gcc_x86_16" ,
"files" : "all" ,
"machdep" : "gcc_x86_16" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "sha512" 
}
,
{
"name" : "sha512 - gcc_x86_64" ,
"files" : "all" ,
"machdep" : "gcc_x86_64" ,
"raw_options" : { "-val-timeout" : 10800 , "-no-results" : "true" } ,
"main" : "sha512" 
}
]
